# python
if command -v pyenv &> /dev/null; then
 use_python() {
   local python_root=$(pyenv prefix)
   load_prefix "$python_root"
   layout_python "$python_root/bin/python"
 }

 use python 3.11.8
else
 layout python3
fi

export PATH=$PWD/bin:$PATH
export ROOT_DIR=$PWD
export PYTHONPATH=$ROOT_DIR/..
